.container {
  background-size: cover;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  border-radius: 30px;
  padding: 30px;

  background-color: rgba(0, 0, 0, 0.4);
}
